
    <div class="w-80 bg-[url('../public/JavaScript-logo.png')] bg-cover bg-no-repeat rounded-xl transition ease-in-out duration-500 hover:scale-110">
        
    </div>
    <div class="w-80 bg-[url('../public/htmlLogo.png')] bg-cover rounded-xl transition ease-in-out duration-500 hover:scale-110">
        
    </div>
    <div class="w-80 h-80 bg-[url('../public/cssLogo.png')] bg-cover rounded-xl transition ease-in-out duration-500 hover:scale-110">
        
    </div>
