
    <div class="w-80 bg-cover bg-no-repeat rounded-xl transition ease-in-out duration-500 hover:scale-110">
        <img src="./public/JavaScript-logo.png">
    </div>
    <div class="w-80 bg-cover rounded-xl transition ease-in-out duration-500 hover:scale-110">
        <img src="./public/htmlLogo.png">
    </div>
    <div class="w-80 h-80 bg-cover rounded-xl transition ease-in-out duration-500 hover:scale-110">
        <img src="./public/cssLogo.png">
    </div>
