---
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="flex items-center fixed top-0 w-full justify-center z-40 m-auto place-self-center border-b backdrop-blur backdrop-brightness-125">
    <nav>
        <ul class="flex [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2  [&>li>a]:m-5 [&>li>a]:rounded-lg gap-2 hover:[&>li>a]:scale-105">
            <li><a href="#About_me_section" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">Home</a></li>
            <li><a href="#Projects_section" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">Projects</a></li>
            <li><a href="" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300">Contact Me</a></li>
            <ThemeIcon>
        </ul>
    </nav>
</header>