---
import ContainerFlipCard from "./ContainerFlipCard.astro";
---

<section class="h-screen py-32 flex justify-center border-t border-y-amber-400" id="Projects_section">
    <ContainerFlipCard>
</section>